<div class="container">
    <ul class="breadcrumb breadcrumb-margin">
        <li><a href="#!/home">Home</a></li>
        <li class="active">DNS Server</li>
    </ul>
    <h1><span class="fa fa-server"></span> DNS Server</h1>

    <div class="row">
        <div class="container">
            <div class="panel" ng-class="$ctrl.status.status ? 'panel-success' : 'panel-danger'">
                <div class="panel-heading">Domain Name Service Status ({{$ctrl.status.status ? 'OK' : 'Not running'}})</div>
                <table class="table table-bordered table-striped key-value-table key-value-table-sm">
                    <tbody>
                        <tr>
                            <td>State</td>
                            <td>
                                <span class="fa" ng-class="$ctrl.status.status ? 'fa-check fa-color-green' : 'fa-warning fa-color-red'"></span>
                                {{$ctrl.status.status ? 'Running' : 'Stopped'}}
                            </td>
                        </tr>
                        <tr>
                            <td>Started</td>
                            <td>{{$ctrl.status.started | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Resolved</td>
                            <td>{{$ctrl.status.domainsResolved | addCommas}}</td>
                        </tr>
                        <tr>
                            <td>Failed</td>
                            <td>{{$ctrl.status.domainsFailed | addCommas}}</td>
                        </tr>
                        <tr>
                            <td>Cached</td>
                            <td>{{$ctrl.status.domainsCached | addCommas}}</td>
                        </tr>
                        <tr>
                            <td>Cache hits</td>
                            <td>{{$ctrl.status.cacheHits | addCommas}}</td>
                        </tr>
                        <tr>
                            <td>Average response</td>
                            <td>{{$ctrl.status.averageResponse | microTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>